<section>
  <div class="container wrap">
    <h1 class="aboutTitle">Блог о путешествиях: куда поехать в отпуск</h1>
    <p class="aboutTitleDesc">
      Узнайте больше о культуре страны, в которой вы так хотели побывать
    </p>
    <p class="aboutText">
      Путешествия – это не только отдых, но и развитие. Побывав в разных
      странах, вы невольно учите иностранный язык – совершенствуете различные
      навыки, узнаете об особенностях народностей и расширяете культурные
      представления о мире.
    </p>
    <p class="aboutText">
      Дневник странника – блог о путешествиях. Часто люди теряются, планируя
      свой отпуск, возникает много вопросов: куда ехать, какой отель
      забронировать, как рассчитать бюджет. Это часто омрачает подготовку, ведь
      ошибиться в выборе и испортить себе отдых не хочется никому. Блог поможет
      вам облегчить процесс – на сайте найдете всю необходимую информацию о
      культуре разных стран и прочих нюансах путешествий, основанную на личном
      опыте туристов.
    </p>
  </div>
</section>
