<section>
  <div class="container wrapAboutBlog">
    <h2 class="aboutBlogTitle">В блоге о путешествиях вы найдете</h2>
    <ul class="aboutBlogList">

       <li class="aboutBlogItem">
      <div class="aboutBlogItem">
        <div class="aboutBlogItemBox">
              <div class="aboutBlogItemTitle">
          <div>
            <svg class="aboutBlogItemIcon">
              <use href="../img/svg/sprite-aboutBlog.svg#icon-earth"></use>
            </svg>
          </div>
          <div>
            <h3 class="aboutBlogItemTitle">
              Описание особенностей культуры стран
            </h3>
          </div>
        </div>
        <p class="aboutBlogItemText">
          В статьях прочтете о том, почему так популярен отдых в Тайланде, ОАЭ и
          других странах. Планируйте отпуск вместе с нами – расскажем о том,
          когда лучше всего бронировать и оформлять туры, какие
          достопримечательности нужно посетить в первую очередь, как работает
          сервис и многое другое.
        </p>
      </div>
      </li>
       <li class="aboutBlogItem">
      <div class="aboutBlogItem">
        <div class="aboutBlogItemBox">
              <div class="aboutBlogItemTitle">
          <div>
            <svg class="aboutBlogItemIcon">
              <use href="../img/svg/sprite-aboutBlog.svg#icon-address-book"></use>
            </svg>
          </div>
          <div>
            <h3 class="aboutBlogItemTitle">
             Полезную информацию об отелях и турах
            </h3>
          </div>
        </div>
        <p class="aboutBlogItemText">
        Не беспокойтесь – мы поможем найти горящий тур по выгодной цене. сотрудничаем с надежными агентствами. Расскажем о функционирующих отелях, опишем их плюсы и минусы. Также узнаете, в какое время путешествие будет наиболее удачным и почему.
        </p>
      </div>
      </li>
          <li class="aboutBlogItem">
      <div class="aboutBlogItem">
        <div class="aboutBlogItemBox">
              <div class="aboutBlogItemTitle">
          <div>
            <svg class="aboutBlogItemIcon">
              <use href="../img/svg/sprite-aboutBlog.svg#icon-bubbles4"></use>
            </svg>
          </div>
          <div>
            <h3 class="aboutBlogItemTitle">
              Отзывы туристов об отелях
            </h3>
          </div>
        </div>
        <p class="aboutBlogItemText">
          Выбирайте гостиницу, опираясь на честное мнение – публикуем отзывы реальных людей, которые захотели поделиться своим опытом. Вы узнаете о том, как в отеле обустроены номера, какое питание предлагают, найдете подробное описание пляжа и прочее. Таким образом избежите неприятных сюрпризов по приезде.
        </p>
      </div>
      </li>
          <li class="aboutBlogItem">
      <div class="aboutBlogItem">
        <div class="aboutBlogItemBox">
              <div class="aboutBlogItemTitle">
          <div>
            <svg class="aboutBlogItemIcon">
              <use href="../img/svg/sprite-aboutBlog.svg#icon-bullhorn"></use>
            </svg>
          </div>
          <div>
            <h3 class="aboutBlogItemTitle">
             Горящие туры
            </h3>
          </div>
        </div>
        <p class="aboutBlogItemText">
          Бронируйте туры заранее – нашими партнерами являются проверенные агентства, с которыми ваша поездка будет не просто запоминающейся, но и выгодной. Дубай, Анталья, Пхукет и другие страны в вашем распоряжении – определитесь со страной мечты после прочтения нашего блога и находите горящие туры прямо здесь.
        </p>
      </div>
      </li>
            <li class="aboutBlogItem">
      <div class="aboutBlogItem">
        <div class="aboutBlogItemBox">
              <div class="aboutBlogItemTitle">
          <div>
            <svg class="aboutBlogItemIcon">
              <use href="../img/svg/sprite-aboutBlog2.svg#icon-coin-dollar"></use>
            </svg>
          </div>
          <div>
            <h3 class="aboutBlogItemTitle">
           Секреты экономии в путешествиях
            </h3>
          </div>
        </div>
        <p class="aboutBlogItemText">
          Подскажем, как выгодно купить авиабилеты, сэкономить на проживании и при этом получить максимум впечатлений.
        </p>
      </div>
      </li>
               <li class="aboutBlogItem">
      <div class="aboutBlogItem">
        <div class="aboutBlogItemBox">
              <div class="aboutBlogItemTitle">
          <div>
            <svg class="aboutBlogItemIcon">
              <use href="../img/svg/sprite-aboutBlog2.svg#icon-map2"></use>
            </svg>
          </div>
          <div>
            <h3 class="aboutBlogItemTitle">
           Подробные маршруты для самостоятельных путешественников
            </h3>
          </div>
        </div>
        <p class="aboutBlogItemText">
         Готовые планы с указанием достопримечательностей, времени в пути, советами по транспорту и питанию.
        </p>
      </div>
      </li>
    </ul>
  </div>
</section>
