<section>
  <div class="container wrapBottom">
    <p class="bottomDesc">
      <strong>Планируйте поездку заранее – выбирайте горящий тур</strong><br />
      c нами ваше путешествие станет выгодным
    </p>
    <div class="bottomAdWidjetDesktop">
      <script
        async
        src="https://tpwgts.com/content?currency=usd&trs=267041&shmarker=483589.483589&host=search.hotellook.com&locale=ru&nobooking=&powered_by=true&width=940&primary=%23f79d1d&special=%23e0e0e0&erid=2VtzqweAYto&promo_id=4063&campaign_id=101"
        charset="utf-8"
      ></script>
    </div>
    <div class="bottomAdWidjetMobile">
      <script
        async
        src="https://tpwgts.com/content?currency=usd&trs=267041&shmarker=483589.483589&host=search.hotellook.com&locale=ru&nobooking=&powered_by=true&width=940&primary=%23f79d1d&special=%23e0e0e0&erid=2VtzqweAYto&promo_id=4063&campaign_id=101"
        charset="utf-8"
      ></script>
    </div>
  </div>
</section>
