<section>
  <div class="container wrapCategoryPost">
    <h2 class="categoryPostTitle">
      Куда съездить отдохнуть: блог о путешествиях
    </h2>
    <p class="categoryPostTitleDesc">описание к заголовку</p>
    <ul class="categoryPostList">
      <li class="categoryPostItem">
        <img
          class="categoryPostItemImg"
          src="../img/post/udtailand-2.webp"
          alt="Удивительный Таиланд"
        />
        <div class="categoryPostItemInfo">
          <div class="categoryPostItemInfoCategory">
            <span>Отдых и туризм</span>
          </div>
          <div class="categoryPostItemInfoAuthor">
            <span>Георгий Горбенко</span>
          </div>
        </div>
        <h3 class="categoryPostItemTitle">Удивительный Таиланд</h3>
        <p class="categoryPostItemDesc">короткое описание статьи</p>
      </li>
      <li class="categoryPostItem">
        <img
          class="categoryPostItemImg"
          src="../img/post/udtailand-2.webp"
          alt="Удивительный Таиланд"
        />
        <div class="categoryPostItemInfo">
          <div class="categoryPostItemInfoCategory">
            <span>Отдых и туризм</span>
          </div>
          <div class="categoryPostItemInfoAuthor">
            <span>Георгий Горбенко</span>
          </div>
        </div>
        <h3 class="categoryPostItemTitle">Удивительный Таиланд</h3>
        <p class="categoryPostItemDesc">короткое описание статьи</p>
      </li>
      <li class="categoryPostItem">
        <img
          class="categoryPostItemImg"
          src="../img/post/udtailand-2.webp"
          alt="Удивительный Таиланд"
        />
        <div class="categoryPostItemInfo">
          <div class="categoryPostItemInfoCategory">
            <span>Отдых и туризм</span>
          </div>
          <div class="categoryPostItemInfoAuthor">
            <span>Георгий Горбенко</span>
          </div>
        </div>
        <h3 class="categoryPostItemTitle">Удивительный Таиланд</h3>
        <p class="categoryPostItemDesc">короткое описание статьи</p>
      </li>
      <li class="categoryPostItem">
        <img
          class="categoryPostItemImg"
          src="../img/post/udtailand-2.webp"
          alt="Удивительный Таиланд"
        />
        <div class="categoryPostItemInfo">
          <div class="categoryPostItemInfoCategory">
            <span>Отдых и туризм</span>
          </div>
          <div class="categoryPostItemInfoAuthor">
            <span>Георгий Горбенко</span>
          </div>
        </div>
        <h3 class="categoryPostItemTitle">Удивительный Таиланд</h3>
        <p class="categoryPostItemDesc">короткое описание статьи</p>
      </li>
      <li class="categoryPostItem">
        <img
          class="categoryPostItemImg"
          src="../img/post/udtailand-2.webp"
          alt="Удивительный Таиланд"
        />
        <div class="categoryPostItemInfo">
          <div class="categoryPostItemInfoCategory">
            <span>Отдых и туризм</span>
          </div>
          <div class="categoryPostItemInfoAuthor">
            <span>Георгий Горбенко</span>
          </div>
        </div>
        <h3 class="categoryPostItemTitle">Удивительный Таиланд</h3>
        <p class="categoryPostItemDesc">короткое описание статьи</p>
      </li>
      <li class="categoryPostItem">
        <img
          class="categoryPostItemImg"
          src="../img/post/udtailand-2.webp"
          alt="Удивительный Таиланд"
        />
        <div class="categoryPostItemInfo">
          <div class="categoryPostItemInfoCategory">
            <span>Отдых и туризм</span>
          </div>
          <div class="categoryPostItemInfoAuthor">
            <span>Георгий Горбенко</span>
          </div>
        </div>
        <h3 class="categoryPostItemTitle">Удивительный Таиланд</h3>
        <p class="categoryPostItemDesc">короткое описание статьи</p>
      </li>
    </ul>
  </div>
</section>
