<div class="container wrapFooter">
  <div class="footerLogoBlock">
    <p class="footerLogoBlockFirstText">Вокруг Света</p>
    <p class="footerLogoBlockSecondText">
      блог о путешествиях - дневник странника
    </p>
  </div>
  <nav class="footerNav">
    <ul class="footerNavList">
      <li class="footerNavItem">Главная</li>
      <li class="footerNavItem">Авторы</li>
      <li class="footerNavItem">Контакты</li>
    </ul>
  </nav>
  <div class="footerCopyRightBox">
    <hr class="footerCopyRightBorder" />
    <p class="footerCopyRightText">© Вокруг Света. All Rights Reserved</p>
  </div>
</div>
