<div class="wrapperFirstHeader">
  <div class="container firstHeader">
    <div class="logoBlock">
      <p class="logoBlockFirstText">Вокруг Света</p>
      <p class="logoBlockSecondText">блог о путешествиях - дневник странника</p>
    </div>
    <div class="secondBlock">
      <div>
        <button type="button" class="btnSearch">
          <span class="btnSearchText">Поиск</span>
          <svg class="btnSearchIcon">
            <use href="../img/svg/sprite-main.svg#icon-search"></use>
          </svg>
        </button>
      </div>
      <div class="langBlock">
        <a href="#" class="lng">УКР</a><a href="#" class="lng lngActive">РУС</a>
      </div>
    </div>
  </div>
</div>
<div class="wrapperSecondHeader">
  <div class="container secondHeader">
    <nav>
      <ul class="navList">
        <li class="navItem">
          <a href="/" aria-label="Главная" class="navItemText active"
            >Главная</a
          >
        </li>
        <li class="navItem">
          <a href="/" aria-label="Главная" class="navItemText"
            >Отдых и туризм</a
          >
        </li>
        <li class="navItem">
          <a href="/" aria-label="Главная" class="navItemText"
            >Гостиницы/Отели</a
          >
        </li>
        <li class="navItem">
          <a href="/" aria-label="Главная" class="navItemText"
            >Путешествия/Туры</a
          >
        </li>
        <li class="navItem">
          <a href="/" aria-label="Главная" class="navItemText"
            >Полезные советы</a
          >
        </li>
        <li class="navItem">
          <a href="/" aria-label="Главная" class="navItemText"
            >Активный отдых</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
