<section>
  <div class="container wrapPostPopular">
    <h2 class="postPopularTitle">Где отдохнуть летом</h2>
    <p class="postPopularTitleDesc">блог о путешествиях - дневник странника</p>
    <div class="postPopularBox">
      <div class="postPopularBoxLeft">
        <ul class="postPopularBoxLeftList">
          <li class="postPopularBoxLeftItem">
            <div class="postPopularBoxLeftItemPost">
              <div>
                <img
                  class="postPopularBoxLeftItemImg"
                  src="https://res.cloudinary.com/daboofr8e/image/upload/v1755270280/UdThailand-1_xcjnlp.webp"
                  alt="Удивительный Таиланд"
                />
              </div>
              <div>
                <p class="postPopularBoxLeftItemPostInfo">
                  <span class="postPopularBoxLeftItemPostCategory"
                    >Отдых и туризм</span
                  >
                  <span class="postPopularBoxLeftItemPostAuthor"
                    >Георгий Горбенко</span
                  >
                </p>
                <h3 class="postPopularBoxLeftItemPostTitle">
                  Удивительный Таиланд
                </h3>
                <p class="postPopularBoxLeftItemPostDesc">
                  короткое описание статьи
                </p>
              </div>
            </div>
          </li>
          <li class="postPopularBoxLeftItem">
            <div class="postPopularBoxLeftItemPost">
              <div>
                <img
                  class="postPopularBoxLeftItemImg"
                  src="https://res.cloudinary.com/daboofr8e/image/upload/v1755270280/UdThailand-1_xcjnlp.webp"
                  alt="Удивительный Таиланд"
                />
              </div>
              <div>
                <p class="postPopularBoxLeftItemPostInfo">
                  <span class="postPopularBoxLeftItemPostCategory"
                    >Отдых и туризм</span
                  >
                  <span class="postPopularBoxLeftItemPostAuthor"
                    >Георгий Горбенко</span
                  >
                </p>
                <h3 class="postPopularBoxLeftItemPostTitle">
                  Удивительный Таиланд
                </h3>
                <p class="postPopularBoxLeftItemPostDesc">
                  короткое описание статьи
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="postPopularBoxRight">
        <div class="latestPost">
          <h2 class="latestPostTitle">последние публикации</h2>
          <ul class="latestPostList">
            <li class="latestPostItem">
              <img
                src="https://res.cloudinary.com/daboofr8e/image/upload/v1755270280/UdThailand-1_xcjnlp.webp"
                alt=""
              />
              <div>
                <h3 class="latestPostItemTitle">Удивительный Таиланд</h3>
                <p class="latestPostItemDate">01.01.2023</p>
              </div>
            </li>
            <li class="latestPostItem">
              <img
                src="https://res.cloudinary.com/daboofr8e/image/upload/v1755270280/UdThailand-1_xcjnlp.webp"
                alt=""
              />
              <div>
                <h3 class="latestPostItemTitle">
                  Китай. Куда можно поехать и что посмотреть?
                </h3>
                <p class="latestPostItemDate">23.01.2023</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="ad"><img src="../img/BANNER.jpg" alt="" /></div>
        <div class="tags">
          <h2 class="tagsTitle">Tags</h2>
          <ul class="tagsList">
            <li class="tagsItem">Китай</li>
            <li class="tagsItem">Таиланд</li>
            <li class="tagsItem">острова Бали</li>
            <li class="tagsItem">Азия</li>
            <li class="tagsItem">Кипр</li>
          </ul>
        </div>
        <div class="aboutAuthor">
          <h2 class="aboutAuthorTitle">Георгий Горбенко</h2>
          <p class="aboutAuthorDesc">краткое описание об авторе</p>
        </div>
      </div>
    </div>
  </div>
</section>
